version: "3"
services:
  proxy-ddd-first:
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    container_name: ddd_first_proxy
  ddd-first-web:
    build: .
    volumes:
      - .:/var/www/html:delegated
      - ./Docker/php/xdebug.ini:/etc/php/8.0/cli/conf.d/20-xdebug.ini:delegated
      - ./Docker/php/php.ini:/etc/php/8.0/fpm/php.ini:delegated
    environment:
      - VIRTUAL_HOST=ddd-first.local
    command: >
      sh -c '
        /etc/init.d/nginx start && /etc/init.d/php8.0-fpm start
        supervisord
      '
    depends_on:
      - proxy-ddd-first
    container_name: ddd-first.local
  ddd-first-db:
    image: mysql:5.7
    volumes:
      - ./Docker/mysql/my.cnf:/etc/my.cnf
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: "symfony"
      MYSQL_USER: "symfony"
      MYSQL_PASSWORD: "symfony"
      MYSQL_ROOT_PASSWORD: "symfony"
    depends_on:
      - ddd-first-web
    ports:
      - 3306:3306
    container_name: db.ddd-first.local
  ddd-first-redis:
    image: redis
    ports:
      - 6379:6379
    container_name: redis.talentu.local
networks:
  default:
    external:
      name: nginx-proxy
